<extend name="Common:demo" />
<block name='main'>
	<div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Forms Page <small class='title'>送货方式编辑</small>
            </h1>
        </div>
    </div> 
	<div class="panel-body">
        <div class="alert alert-success" style="display:none">
          <strong>操作成功!</strong><em class='success_msg'> You successfully read this important alert message.</em>
        </div>
        <div class="alert alert-danger" style="display:none">
          <strong>操作失败!</strong><em class='error_msg'> Change a few things up and try submitting again.</em>
        </div>
		<form action='{:U()}' method="post">
		<input type="hidden" name="id" value="{$id}">
                                            <div class="form-group">
                <label>送货方式名称:</label>
                <input class="form-control" placeholder="请输入送货方式名称" name='name' value="{$name}">
            </div>
                                    <div class="form-group">
                <label>价格:</label>
                <input class="form-control" placeholder="请输入价格" name='price' value="{$price}">
            </div>
                                    <div class="form-group">
                <label>是否默认:</label>
                                <label class="radio-inline">
                    <input type="radio" name="is_default" class="optionsRadiosInline1" value="1">是                </label>
                                <label class="radio-inline">
                    <input type="radio" name="is_default" class="optionsRadiosInline1" value="0">否                </label>
                            </div>
                                    <div class="form-group">
                <label>简介:</label>
                <textarea class="form-control" rows="3" name="intro">{$intro}</textarea>
            </div>
                			<button type="submit" class="btn btn-default post_json">提交</button>
		</form>
	</div>
	<script type="text/javascript" src="__JS__/jquery-1.11.2.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$('.optionsRadiosInline1').val([{$status|default=1}]);
		});
         //>>添加点击批量删除的响应
          $('.post_json').click(function(){
            var form_data=$(this).closest('form').serialize();
            var url=$(this).closest('form').attr('action');
            console.debug(form_data);
            $.post(url,form_data,function(data){
              console.debug(data);
              if(data.status==0){
                $('.error_msg').html(data.info);
                $('.alert-danger').show();
                setTimeout(function(){
                  $('.alert-danger').hide();
                },1500);
              }else{
                $('.success_msg').html(data.info);
                $('.alert-success').show();
                setTimeout(function(){
                  location.href=data.url;
                },1500)
              }
            });
            return false;
          });
	</script>
    <script type="text/javascript">
    //选中菜单栏
    var title=$('.title').html();
    var a=$("#main-menu a");
    // console.debug(title);  
    a.each(function(){
      if($(this).text()==title){
        // console.debug($(this).closest('ul').closest('li'));
        $(this).closest('ul').addClass('in');
        $(this).closest('ul').closest('li').addClass('active');
        $(this).addClass('active-menu');
      }
    });
  </script>
  </block>